<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">未來藍圖</h2>
        <h3 class="section-subheading text-muted">請大家支持我們的夢想工程！</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Stage 1</h4>
                <h4 class="subheading">創造10款小遊戲</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">打造趣味遊戲平台，讓大眾透過遊戲輕鬆的呈現方式，去接觸議題，提升青年對於政治的關注，這一步我們將結合群眾力量，創造一個簡單的遊戲平台「政治公園」。</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Stage 2</h4>
                <h4 class="subheading">連結新媒體</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">將遊戲與網路新媒體連結，一方面幫助宣傳新媒體，一方面讓玩家可以深入瞭解該議題，提升政治意識。</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Stage 3</h4>
                <h4 class="subheading">創造群眾論壇</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">為了達成我們的宗旨，我們將做時事論壇，供某項重要議題讓大眾選擇自己支持或反對，也可以看到其他人對於該議題的看法。</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Stage 4</h4>
                <h4 class="subheading">公益募款</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">我們將用遊戲的方式來幫助募款或宣傳公益，用輕鬆、有趣的方式提升效益，使更多人關注台灣議題，例如：食安、能源、銀髮、環保等等。</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                Be part<br />
                of our<br />
                story<br />
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
