<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">平台簡介</h2>
        <h3 class="section-subheading text-muted">「政治公園」是一個虛擬遊戲島嶼，島上有很多可愛的政治小人物，請幫他們解決心中的煩惱，燃燒你的政治魂吧。</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">互動遊戲</h4>
        <p class="text-muted">提供一個歡樂的平台，讓大眾輕鬆地接觸政治議題，未來將延伸到設計圖案或心理測驗等趣味互動。</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">新型媒體</h4>
        <p class="text-muted">玩完事件遊戲後，可以看到關於事件的相關資訊、連結到網路新媒體，幫助大家瞭解事件的始末。</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">政治論壇</h4>
        <p class="text-muted">提供論壇讓大眾針對時事提出看法，讓大家看到各種多元的想法。</p>
      </div>
    </div>
  </div>
</section>
